.container {
    background-image: url('fondoForum.png');
    color: white;
    font-family: Arial, sans-serif;
    flex: 1; /* Ocupa el espacio restante */
    width: 100%; /* Ajusta al ancho del contenedor */
}

.contenido-cuenta{
    padding: 15vw 10vh  ;
    background-color: #1c1c1c;
    flex-direction: column;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.info{
    display: flex;
    align-items: center;
.info-personal{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.imgFondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    position: relative;

}
.imageAvatar {
    margin: 8px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
}
.info-cuenta{
    display: flex;
    margin-top: 10vh;
    h2{
        margin: 15px;
    }
}
