.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .image-container-center {
    position: relative;
    width: 80%; 
    height: 80vh; 
    background-image: url('Ferrari.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    overflow: hidden; 
    display: flex;
    justify-content: center; /* Centramos horizontalmente el contenido */
    align-items: flex-start;  /* Alineamos verticalmente desde el inicio */
    padding: 20px;
  }
  
  .content-center {
    display: flex;
    flex-direction: column;
    align-items: center;     /* Centramos horizontalmente el contenido */
    width: 40%; 
    margin-top: 500px;       /* Mantenemos el margen superior de 300px */
  }
  
  .description {
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff; 
  }
  
  .start-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .start-button:hover {
    background-color: #0056b3;
  }
  
  