.general3d{
    .car3d{
        display: flex;
        justify-content: center; 
        align-items: center;
        img{
            max-width: 35%;
            height: auto; 
        }
    }
    .buttomsPersonalize {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px; 
    }
}