.bodyForum {
	.fixedPositions {
	  display: flex;
	  justify-content: space-between;
	  position: fixed;
	  width: 100%;
	  top: 0;
	  left: 0;
	  padding: 10px;
	  .personal {
		background-color: #1f201d;
		padding: 10px;
		margin: 5px;
		margin-top: 100PX;
	  }
	}
	  
	.publicaciones {
	  background-image: url('fondoForum.png');
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	}

  }
  
  .bMarket{
	margin-top: 15px;
  }


  .barraForum {
	display: flex;
	align-items: center;
	margin: 5px;
  }
  
  .navbar {
	background-color: transparent;
	margin-left: 10px;
	padding: 2px 15px;
	font-size: 16px;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
  }
  
  .menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
  }
  
  .menu-item {
	position: relative;
  }
  
  .menu-item > a {
	color: white;
	padding: 15px 30px;
	text-decoration: none;
	display: block;
  }
  
  .menu-item > a:hover {
	background-color: #555;
  }
  
  /* Estilos del submenú */
  .submenu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: black;
	min-width: 200px;
	padding: 10px;
	box-sizing: border-box;
  }
  
  .submenu a {
	color: white;
	padding: 10px;
	text-decoration: none;
	display: block;
  }
  
  .submenu a:hover {
	background-color: #1f201d;
  }
  
  /* Mostrar el submenú al hacer hover */
  .menu-item:hover .submenu {
	display: block;
  }
  