.bodyForum {
    
	.fixedPositions{
		display: flex;
		justify-content: space-between; 
		position: fixed;
		.personal {
			background-color: #1f201d; 
			padding: 10px; 
			margin: 5px; 
		}
	}
	.publicaciones{
		background-image: url('fondoForum.png');
		flex-direction: column;
		display: flex;
		justify-content: center; 
		align-items: center;
		.Post{
			padding: 100px;
		}
	}
}