.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex: 1; /* Ocupa el espacio restante */
  width: 100%; /* Ajusta al ancho del contenedor */
}
  
.content {
  text-align: center;
}

.main-title {
  font-size: 400%;
  color: rgba(255, 255, 255, 0.3);
}

.subtitle {
  font-size: 250%;
  color: rgba(255, 255, 255, 0.3);
  margin-bottom: 2%;
}

.button-group {
  display: flex;
  gap: 1%;
  justify-content: center;
  margin-bottom: 2%;
}

.info-button {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border: none;
  padding: 0.8% 1.5%;
  font-size: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
}

.info-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  padding: 0.8%;
  font-size: 100%;
  width: 50%;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
}

.search-button {
  padding: 0.8%;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  cursor: pointer;
  border-radius: 0 0.5rem 0.5rem 0;
  font-size: 120%;
  color: #ffffff;
}
  