body {
    background-image: url('fondoForum.png');
}

.create-post-container {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
}

.create-post-container h1 {
    text-align: center;
    font-size: 24px;
}

.post-description, .tags{
    font-size: large;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.post-description {
    height: 20vh;
}

.upload-section {
    margin-top: 20px;

    button {
        width: 20%;
    }
}

.upload-btn, .publish-btn {
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
}

.publish-btn {
    display: block;
    width: 500%;
}

.image-preview {
    margin-bottom: 50px;
    border: 1px solid #444;
    padding: 10px;
    min-height: 100px;
}

button {
    width: 100%;
}

.footer {
    position: absolute;
}