body{
  font-family: sans-serif;
  margin: 0;
}

a{
  text-decoration: none;
  color: rgb(106, 118, 158);
}

header {
  justify-content: center; 
  display: flex; /*Organizar horizontalmente*/
  min-height: 10px; /*Altura de recuadro*/
  background-color: rgb(20, 23, 37); /*color*/
  align-items: center; /*centro de*/
  padding: 10px;
}

.logo{
  color: rgb(139, 129, 129);
  display: flex;
  align-items: center;
}

.logo img{
  height: 50px;
  margin-right: 10px;
}

nav a{
  font-weight: 100;
  padding-right: 15px;
}

nav a:hover{
  color: white;
}

@media (max-width:700px){
  header{
    flex-direction: column;
  }
}