.generalNav{
    display: flex;
    background-color: #1d1b1b;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 10px; /* Esquinas redondeadas */
    input{
        width: 600px;
    }
}